* {
    padding: 0;
    top: 0;
    margin: 0;
}
.contenedor {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.codigo {
    border: solid 2px black;
    width: 40%;
    max-width: 500px;
    border-radius: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(2, 4, 87);
    

}
.codigo pre code{
    color: antiquewhite;
}
.panel_instrucciones {
    border: black 2px solid;
    padding: 2%;
}
.pares_css {
    display: block;
}

.ingresa5ysuma_css {
    display: none;
}


#ab:hover ~ #b {
    background-color: red;
    }
    #botonera {
        #ab:hover #panel #b {
            background-color: blue;
            }
    }
    /*
    .contenedor .btn-group-vertical #a:hover ~ .panel_instrucciones #b {
        background: blue; 
  }*/
  .prueba1 {
      border: solid 3px black;
  }
  .prueba2 { 
      background-color: red;
  }
  .prueba3 {
      background-color: blue;
  }
  #prueba1 .prueba2:hover ~ .medio {
      background-color: green;
  }
  #prueba2:hover + .target3 {
      background-color: yellow;
  }
  